<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/treecss.css">
    <meta charset="UTF-8">
    <title>addComment</title>





</head>
<body>

<ul id="myUL">
    <li><span class="caret" data-th-text="${message.text}" data-th-object="${mes}"></span>
        <ul class="nested">



            <div data-th-each="message: ${message.comments}"></div>
                <li><span class="caret" data-th-text="${message.text}">mes</span>
                </li>
        </ul>
    </li>
</ul>







<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>



</body>
</html>