
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>message sender</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>messagesByUser</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container mx-auto">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="MessageSearcherandList.html">Search message</a>
                    <a class="nav-link" href="form.html">New message</a>

                    <!--csak admin rolnak jelenik meg-->
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <div class="navbar-form navbar-right">
                            <a class="nav-link" aria-current="page" data-th-href="@{/message/userList}">Users list</a>
                        </div>
                    </div>

                    <a class="nav-link" aria-current="page" data-th-href="@{/message/msgByUsr}">Messages by user</a>
                    <a class="nav-link" aria-current="page" data-th-href="@{/message/sajatlogin}">Logout</a>
                </div>
            </div>
        </div>
    </nav>





</head>
<body>


<form  method="POST" th:action="@{/message/msgByUsrToList}" th:object="${msgbyusr}">


    <div class="row">
        <div class="row gy-2 justify-content-center">
            <div class="col-4 ">

                <select th:field="*{userId}">
                    <option th:each="actualUser : ${userslist}"
                            th:value="${actualUser.getUserId}"
                            th:text="${actualUser.getUserName}">
                    </option>
                </select>
            </div>

            <div class=" col-7 ">
                <input type="submit" id="elkuld" class="btn-primary">
            </div>
        </div>
    </div>

</form>
</body>
</html>